#tasksContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-grow: 1;
    border: 2px solid yellow;
    gap: 5%;
}

.taskCard {
    box-sizing: border-box;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.top {
    display: flex;
    justify-content: space-between;
}
.bottom {
    
    display: flex;
    justify-content: space-between;
}