/*actual Modal Display*/
#modal {
    color: white;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    
    /* That small white border highlight */
    border: 1px solid rgba(255, 255, 255, 0.15);
    
    /* Elevation shadow */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

    position: fixed; 
    
    /* Sit on top of everything else */
    top: 20%;
    

    border: 2px solid #007bff;
}



#modalHeader {
    display: flex;
    justify-content: space-between;
    
}
#modalHeader h3{
    margin: 0;
}

span#fsubmit {
    grid-column: 2;
    
    justify-self: end;
}
.editModal {
    background-color: #1e1e24; /* Matches your sidebar theme */
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
    width: 20%;
    height: 20%;
}

/* Style the native dimming backdrop layer */
.editModal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#closeBtn:hover {
    color: #61a7f1; 
}

#titleAndClose {
    display: flex;
    justify-content: space-between;
    flex: 1;
    
    margin-top: -8%;
}